# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
.vscode/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
pubspec.lock

# Android related
.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties

# Misc
*.iml
*.ipr
*.iws
*.log
*.tmp
*.swp
.DS_Store
.metadata
